#lizzie-card {
    background-color: rgb(245, 248, 250);
}

#henry-card {
    background-color: rgb(248, 246, 250);
}

#annie-card {
    background-color: rgb(243, 250, 243);
}

#lizzie {
    font-size: 28px;
}

#henry {
    font-size: 28px;
}

#annie {
    font-size: 28px;
}